<div class="menu-overlay" [class.is-open]="isVisible()">
  <div class="menu-content">
    <div class="menu-header">
      @if (!isRoot()) {
        <button class="back-btn" (click)="goBack.emit()">
          <i class="fa-solid fa-chevron-left"></i> Volver
        </button>
      }
      <button class="close-btn" (click)="handleClose()">✕</button>
    </div>

    <ul class="menu-list">
      @for (item of items(); track $index) {
        <li class="menu-item">
          @if (item.items && item.items.length > 0) {
            <div class="item-wrapper" (click)="toggleChild($index)">
              <div class="label-group">
                @if (item.iconClass) { <i [class]="item.iconClass"></i> }
                <span>{{ item.label }}</span>
              </div>
              <span class="arrow">›</span>
            </div>

            <app-sub-menu-mobile 
              [items]="item.items"
              [isVisible]="activeChildIndex() === $index"
              [isRoot]="false"
              (goBack)="toggleChild(null)"
              (closeMenu)="handleClose()">
            </app-sub-menu-mobile>

          } @else {
            <a [routerLink]="item.url" (click)="handleClose()">
              <div class="label-group">
                @if (item.iconClass) { <i [class]="item.iconClass"></i> }
                <span>{{ item.label }}</span>
              </div>
            </a>
          }
        </li>
      }
    </ul>
  </div>
</div>