/* --- Imports --- */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* --- Variables Globales --- */

:root {
    --color-verde-cetelem: #337F37;
    --color-texto: #4b4f54;
    --font-main: "Ubuntu", sans-serif;
    --border-radius: 8px;
    --green-cetelem: #3A913F;
    --green-dark: #235726;
    --black: #111;
    --dark-gray: #4B4F54;
    --light-gray: #C1C6C8;
    --lighter-gray: #E8E8E8;
}

/* --- Reset y Configuración Base --- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-texto);
    font-display: swap;
    max-width: 100%;
    margin: 0 auto;
}

/* Ajuste de padding para móviles */

@media (max-width: 1024px) {

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0;
    }
}

/* --- Componentes Globales para toda la web --- */


/* --- Clases de Utilidad --- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}