/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

:root{
    --color-verde-cetelem: #337F37;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: 1024px) {
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0;
    }
}

body {
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 400;
    font-display: swap;
    color: #4b4f54;
    font-size: 16px;
    line-height: 24px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}