<article
  class="feature-item"
  [attr.aria-labelledby]="'feature-' + icon() + '-title'"
>
  <div
    class="feature-icon"
    role="img"
    [attr.aria-label]="title()"
  >
    <span class="icon-placeholder" aria-hidden="true">[{{ icon() }}]</span>
    <!-- PLACEHOLDER icono {{ icon() }} -->
  </div>

  <div class="feature-content">
    <h3 class="feature-title" [id]="'feature-' + icon() + '-title'">
      {{ title() }}
    </h3>
    <p class="feature-description">{{ description() }}</p>
  </div>
</article>
