@if (data()) {
  <div class="submenu-container" [class.show]="isVisible()">
    
    <div class="submenu-left-col">
      <img [src]="data().imageUrl" [alt]="'Imagen de ' + data().title" class="submenu-image">
      
      <a [href]="data().buttonUrl" class="btn-outline-green">
        {{ data().buttonText }}
      </a>
    </div>

    <div class="submenu-right-col">
      <h3 [id]="'submenu-title-' + data().title">{{ data().title }}</h3>
      
      <ul class="submenu-links" [attr.aria-labelledby]="'submenu-title-' + data().title">
        @for (item of data().items; track item.label) {
          <li>
            <a [href]="item.url">
              <i [class]="item.iconClass" aria-hidden="true"></i>
              <span>{{ item.label }}</span>
            </a>
          </li>
        }
      </ul>
    </div>
    
  </div>
}