<article class="slide-loan">
  <div class="content-container">
    <div class="text-column">
      <span class="subtitle">PRÉSTAMO CETELEM</span>
      <h2 class="title">Un préstamos a tu medida para tu proyecto</h2>
      
      <div class="rates">
        <p>Desde 7,99% TIN <strong>8,29% TAE</strong><sup>1</sup></p>
        <p>Hasta 12,99% TIN <strong>13,69% TAE</strong><sup>1</sup></p>
      </div>

      <a href="/" class="btn-primary">
        Simula tu préstamo
      </a>
    </div>

    <div class="image-column"></div>
  </div>
</article>