.btn-primary {
  color: #FFF;
  background-color: var(--color-verde-cetelem);
  margin-top: 40px;
  text-decoration: none;
}

.btn {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 24px;
  text-align: center;
  border-radius: 56px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  min-width: 200px;
}