<ng-template #recursiveNode let-nodelist>
  @for (node of nodelist; track node) {
    @switch (node.type) {
      
      @case ('strong') {<strong>{{ node.content }}@if (node.children?.length) {<ng-container *ngTemplateOutlet="recursiveNode; context: { $implicit: node.children }" />}</strong>}

      @case ('em') {<em>{{ node.content }}@if (node.children?.length) {<ng-container *ngTemplateOutlet="recursiveNode; context: { $implicit: node.children }" />}</em>}

      @case ('sub') {<sub>{{ node.content }}@if (node.children?.length) {<ng-container *ngTemplateOutlet="recursiveNode; context: { $implicit: node.children }" />}</sub>}

      @case ('sup') {<sup>{{ node.content }}@if (node.children?.length) {<ng-container *ngTemplateOutlet="recursiveNode; context: { $implicit: node.children }" />}</sup>}

      @case ('underline') {<span class="underline">{{ node.content }}@if (node.children?.length) {<ng-container *ngTemplateOutlet="recursiveNode; context: { $implicit: node.children }" />}</span>}

      @case ('link') {<a [href]="node.href" class="rt-link" target="_blank" rel="noopener noreferrer">{{ node.content }}@if (node.children?.length) {<ng-container *ngTemplateOutlet="recursiveNode; context: { $implicit: node.children }" />}</a>}

      @default {{{ node.content }}}
    }
  }
</ng-template>