.section-b {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 80px;
}

.features-headlines {
  margin: 0 80px 0 0;
  max-width: 400px;
}

.creativity{
  margin: 0 40px 0 0;
}

.texts, .creativity{
    max-width: 480px;
}

.b-block{
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 48px;
  line-height: 52px;
  margin: 0 auto 16px;
  color: #111;
  padding: 0;
}

.btn-primary {
  color: #FFF;
  background-color: var(--color-verde-cetelem);
  margin-top: 40px;
  text-decoration: none;
}

.btn {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 24px;
  text-align: center;
  border-radius: 56px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  min-width: 200px;
}

.features-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 120px;
  -moz-column-gap: 120px;
  column-gap: 120px;
  row-gap: 64px;
  width: 50%;
}

@media (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem;
  }
}