.section-b {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 80px;
}

.features-headlines {
  margin: 0 80px 0 0;
  max-width: 400px;
}

.creativity{
  margin: 0 40px 0 0;
}

.texts, .creativity{
    max-width: 480px;
}

.b-block{
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 48px;
  line-height: 52px;
  margin: 0 auto 16px;
  color: #111;
  padding: 0;
}

.features-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 120px;
  -moz-column-gap: 120px;
  column-gap: 120px;
  row-gap: 64px;
  width: 50%;
}

.b-about-cetelem-image{
  margin: 0 0 80px;
  border-radius: 8px;
  width: 1120px;
}

@media (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem;
  }
}