<footer class="contentInfo">
  <div class="row">
    <div class="dvLogo">
      <a href="/">
        <img alt="Logotipo BNP Personal Finance España. Ir a Página Principal"
          title="Logo Oficial de Cetelem España Grande" src="/img/logo_cetelem.png">
      </a>
    </div>

    <div class="dvContenidosCTLM">
      <h2>Contenidos Cetelem</h2>
      <ul>
        <li>
          <a href="https://bnpparibas-pf.es/area-de-prensa/" target="_blank">
            Sala de Prensa
            <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
          </a>
        </li>

        <li>
          <a href="/credito-zoom">Blog</a>
        </li>
        
        <!--
        <li>
          <a href="https://grupocetelem.es/" target="_blank" rel="noopener noreferrer">
            Blog
            <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
          </a>
        </li>
        -->
        
        <li>
          <a href="https://elobservatoriocetelem.es/" target="_blank">
            Observatorio Cetelem
            <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
          </a>
        </li>

        <li>
          <a href="/documents/34437/0/libro-blanco-credito-responsable.pdf" target="_blank">
            Credito Responsable
            <span class="sr-only">El documento se abrirá en una pestaña nueva</span>
          </a>
        </li>

        <li>
          <a href="https://bnpparibas-pf.es/unete-a-nosotros/" target="_blank">
            Trabajar en Cetelem
            <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="dvRRSS">
      <h2>Síguenos</h2>
      <ul>
        <li>
          <a href="https://twitter.com/cetelemspain" target="_blank" aria-label="Ir a Twitter">
            <i class="fa-brands fa-x-twitter"></i>
            <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
          </a>
        </li>
        
        <!--
        <li>
          <a href="https://plus.google.com/+CetelemEspa%C3%B1a_ES" title="Google+" target="_blank">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </li>
        -->
        
        <li>
          <a href="https://www.linkedin.com/company/cetelem/" target="_blank" aria-label="Ir a Linkedin">
            <i class="fa-brands fa-linkedin-in"></i>
            <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
          </a>
        </li>
        
        <!--
        <li>
          <a href="https://es.pinterest.com/cetelemspain/" title="Pinterest" target="_blank">
            <i class="fa fa-pinterest" aria-hidden="true"></i>
          </a>
        </li>
        -->
        
        <li>
          <a href="https://www.youtube.com/user/CetelemSpain" target="_blank" aria-label="Ir a YouTube">
            <i class="fa-brands fa-youtube" aria-hidden="true"></i>
            <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="dvBttmFooterLft">
      <p>Cetelem, su banco de crédito especialista en préstamos personales, le ofrece la mejor solución económica para
        sus necesidades.</p>
      <p>Financiar sus proyectos con nuestros préstamos online es muy rápido y sencillo, sólo tiene que realizar su
        solicitud de préstamos a través de nuestra web para conseguir cualquiera de nuestros créditos. Sin desplazarse
        de su casa y sin cambiar de banco podrá cumplir sus sueños con los préstamos Cetelem. Un préstamo fácil de
        solicitar.</p>
    </div>

    <div class="dvBttmFooterRght">
      <a title="Confianza Online" href="https://www.confianzaonline.es/empresas/cetelem.htm" target="_blank">
        <img src="/img/sello-confianza-50.png" alt="Sello de calidad de Confianza Online. Ir a Confianza Online">
        <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
      </a>

      <img src="/img/logo-entrust.svg" loading="lazy" alt="Logo Entrust">
      
      <a href="https://asociaciondec.org/" target="_blank" rel="noopener noreferrer"> 
        <img src="/img/logo-DEC.png" alt="Cetelem pertenece a Asociación DEC Experiencia Cliente. Ir a Asociación DEC">
        <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
      </a>
      
      <a href="https://www.top-employers.com/" target="_blank">
        <img src="/img/top_employer_spain.png" alt="Cetelem es Top Employer España. Ir a Top Employers">
        <span class="sr-only">El enlace se abrirá en una pestaña nueva</span>
      </a>
    </div>

    <div class="row dvBttmFooter">
      <ul>
        <li><strong><a href="/atencion-al-cliente-y-reclamaciones">Atención al cliente y Reclamaciones</a></strong></li>
        <li><a class="cookie-url" href="/politica-de-cookies">Política de cookies</a></li>
        <li><a href="/mapa-web">Mapa web</a></li>
        <li><a href="/informacion-legal">Información legal</a></li>
        <li><a href="/proteccion-de-datos">Aviso Protección de datos</a></li>
        <li><a href="/proteccion-de-datos-proveedores">Aviso Protección de datos proveedores</a></li>
        <li><strong><a href="/informacion-publica">Tarifas y Comisiones</a></strong></li>
        <li><a href="/landings/conoce-la-normativa-psd2">Normativa PSD2</a></li>
        <li><a href="/seguridad">Seguridad</a></li>
        <li><a href="/gobierno-corporativo">Gobierno corporativo y política de remuneraciones</a></li>
        <li><a href="/sistema-interno-informacion">Sistema interno de Información</a></li>
      </ul>
      <p><a href="/">https://www.cetelem.es</a> © Copyright <span id="copyYear">2026</span> Cetelem España. Grupo BNP Paribas.</p>
    </div>
  </div>
</footer>