<div class="feature-card">
  <div class="feature-item main">
    <span class="icon-check fa-solid fa-circle-check"></span>
    <p>Tienes hasta {{ maxAmount() }}</p>
  </div>
  <hr>
  <div class="feature-item">
    <span class="icon-check fa-solid fa-circle-check"></span>
    <div>
      <label>TIN (Desde | Hasta)</label>
      <p><strong>{{ tinRange() }}</strong></p>
    </div>
  </div>
  <div class="feature-item">
    <span class="icon-check fa-solid fa-circle-check"></span>
    <div>
      <label>TAE* (Desde | Hasta)</label>
      <p><strong>{{ taeRange() }}</strong></p>
    </div>
  </div>
</div>