.u-container-box{
  display: flex;
  flex-direction: row;
  padding: 80px;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .u-container-box{
    flex-direction: column;
    padding: 56px 24px;
  }
}